<h1 style="text-align:center">
    TRACOM PLATFORM
  </h1>
  <div class="login">
    <h2 class="login-header">MAIN DASHBOARD</h2>
  
    <p><a routerLink="/addPos" routerLinkActive="active"><button class="btn btn-success"><b>ADD POS</b></button></a></p>
  
    <p><a routerLink="/listPos" routerLinkActive="active"><button class="btn btn-success"><b>LIST OF POS</b></button></a></p>
    <p><a routerLink="/posSales" routerLinkActive="active"><button class="btn btn-success"><b>POS SALES</b></button></a></p>
  
    <p><a routerLink="/logout" ><button class="btn btn-success"><b>LOG OUT</b></button></a></p>
  
  </div>
